
{% extends 'base.html' %}

{% block title %} Deadpools {% endblock %}

{% block content %} 
{%load static %}



<section class="text-center">
  <h5>Welcome {{context1}}</h5>

  {% for context in context %}
    
    <div class="card m-2 text-center" style="width: 18rem; display: inline-block;">
        <img class="card-img-top" style="height: 250px; object-fit: contain;" src="{{context.image.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{context.name}}</h5>
          
        </div>
    </div>
  {% endfor %}
     
     
</section>


{% endblock %}

