{% extends 'adminbase.html' %}

{% block title %} Deadpools {% endblock %}
{% block content %} 
{%load static %}

<h5 class="ms-4">Hi {{name}}</h5>
<table class="table table-bordered mx-4">
    <thead>
        <tr>
            <th>Id</th>
            <th>User Name</th>
            <th>Is Staff</th>
            <th>Email</th>
            <th>SuperUser</th>
            <th>date_joined</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.is_staff|yesno:"Yes,No" }}</td>
            <td>{{ user.email }}</td>
            <td>{{user.is_superuser}}</td>
            <td>{{ user.date_joined }}</td>
            <td>{% if superstatus is True %}
                <ul>
                    <a href="{% url 'edit' user.id %}" class="btn custom-btn">
                        <i class="fa-solid fa-pen-to-square fa-lg" style="color: #075c9c;"></i>
                    </a>
                    
                    
                    <a href="{% url 'delete' user.id %}">
                        <i class="fa-solid fa-trash fa-lg" style="color: #d62e37;"></i>
                    </a>
                    
                </ul>
                {% else %}
                <span>No actions available</span>

                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>




{% endblock %}